@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}
.fix-scrollbar::-webkit-scrollbar,
.popup .mapboxgl-popup-content::-webkit-scrollbar {
  appearance: none;
  width: 8px;
}
.fix-scrollbar::-webkit-scrollbar-thumb,
.popup .mapboxgl-popup-content::-webkit-scrollbar-thumb {
  background-color: turquoise;
  border-radius: 4px;
  overflow: hidden;
}
.fix-scrollbar::-webkit-scrollbar-track,
.popup .mapboxgl-popup-content::-webkit-scrollbar-track {
  background-color: white;
}
.fix-scrollbar::-webkit-scrollbar-track-piece,
.popup .mapboxgl-popup-content::-webkit-scrollbar-track-piece {
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}
.show {
  opacity: 1;
  display: block;
  transition: all 200ms ease;
  transform: translateY(0);
}
.hide {
  opacity: 0;
  display: none;
  transition: all 200ms ease;
  transform: translateY(-50px);
}
.popup .mapboxgl-popup-content {
  max-height: 300px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  min-width: 240px;
  padding: 10px;
}
.popup button {
  scale: 2;
  top: 10px;
  right: 5px;
  padding: 0 5px;
  border-radius: 0 0 0 5px;
}
.popup h2 {
  font-size: 19px;
  font-weight: 700;
}
.popup h3 {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}
.popup span,
.popup p {
  font-size: 14px;
  margin-top: 5px;
}
