@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}
.fix-scrollbar::-webkit-scrollbar {
  appearance: none;
  width: 8px;
}
.fix-scrollbar::-webkit-scrollbar-thumb {
  background-color: turquoise;
  border-radius: 4px;
  overflow: hidden;
}
.fix-scrollbar::-webkit-scrollbar-track {
  background-color: white;
}
.fix-scrollbar::-webkit-scrollbar-track-piece {
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}
.show {
  opacity: 1;
  display: block;
  transition: all 200ms ease;
  transform: translateY(0);
}
.hide {
  opacity: 0;
  display: block;
  transition: all 200ms ease;
  transform: translateY(-50px);
}
